.app{
  width: 300px;
  height:300px;
  padding: 2rem;
  text-align: center;
  text-align:center;
  background-color: white;
  color: black;
}

.cursor{
  cursor: url(./assets/dropper16.png), auto;
  background-color: red;
}

h1{
  background-color: red;
}